@model IEnumerable<WebApplication.Models.CotizacionMoneda>

@{
    ViewBag.Title = "Cotizaciones del Día";
}

<h2>Cotizaciones del Día (@DateTime.Today.ToShortDateString())</h2>

<table class="table table-bordered table-striped" style="width: 100%; text-align: center;">
    <thead>
        <tr>
            <th style="text-align: center;">Fecha</th>
            <th style="text-align: center;">Tipo de Moneda</th>
            <th style="text-align: center;">Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fecha.ToShortDateString()</td>
                <td>@item.TipoMoneda</td>
                <td>@item.Valor.ToString("N2")</td>
            </tr>
        }
    </tbody>
</table>
